node_modules
.env
.git
dist
build
logs
*.log
npm-debug.log*
.DS_Store
.npm
public/media/*
!public/media/.gitkeep
# Permitir archivos de datos para la migración
!data/*.json
!data/*.json.bak
!data/conditions.ts

mysql-init/*
